body{
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 174, 0);
    color:white;
}
button{
    width:150px;
    height: 60px;
    margin:10px;
    color:white;
    background: none;
    border: 1px solid white;
    border-radius:10px;
    font-weight: 600;
}